@page "/"

<div style="display:flex; flex-flow:column nowrap;">
    <button @onclick="testSystem">System.Text.Json</button>
    <button @onclick="testNewtonsoft">Newtonsoft</button>
    <button @onclick="testMemoryPack">MemoryPack</button>
    <button @onclick="testMessagePack">MessagePack</button>
</div>

@code {
    private Serializer serializer = new(); 


    private void testSystem()
    {
        serializer.TestSystemTextJson(); 
    }


    private void testNewtonsoft()
    {
        serializer.TestNewtonsoft(); 
    }


    private void testMemoryPack()
    {
        serializer.TestMemoryPack(); 
    }


    private void testMessagePack()
    {
        serializer.TestMessagePack(); 
    }
}
